<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Cromosom - Admin</title>

<link rel="shortcut icon" href="img/icon2.png" />

<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

<!-- Page level plugin CSS-->
<link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

<!-- Custom styles for this template-->
<link href="css/sb-admin.css" rel="stylesheet">

   <!-- Firebase App is always required and must be first -->
   <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-app.js"></script>

   <!-- Add additional services that you want to use -->
   <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase-auth.js"></script>
   <script>
        // Initialize Firebase
        var config = {
          apiKey: "AIzaSyAyBrDcmmlRv34NNHmWh-Bw6XTtVagVMG0",
          authDomain: "cromosom1.firebaseapp.com",
          databaseURL: "https://cromosom1.firebaseio.com",
          projectId: "cromosom1",
          storageBucket: "cromosom1.appspot.com",
          messagingSenderId: "179322650357"
        };
        firebase.initializeApp(config);
      </script>