<footer class="site-footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-4">
                <h3 class="reds">About</h3>
                <p id="aboutFooterTxt"><%= footer.about %></p>
            </div>
            <div class="col-lg-4">
                <h3 class="reds">Contact</h3>    
                <p id="contactFooterTxt"><%= footer.contact%></p>
            </div>        
            <div class="col-lg-4 ">  
                <div class="mt-5">
                    <form>
                        <button type="submit" class="button_1">Subscribe</button>
                        <input type="email" placeholder="Email">
                    </form>
                    <ul class="social-list list-inline">
                        <li><a href="#"><span class="fa fa-facebook"></span></li>
                        <li><a href="#"><span class="fa fa-instagram"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center nopadding">
            &copy; <script>document.write(new Date().getFullYear());</script> Cromosom
        </div>
    </div>
</footer>
