<!doctype html>
<html lang="id">

<!-- Head Section -->
<head>
    <%- include('templates/head'); -%>

  </head>
<!-- Head Section End -->
  
<body>

<!-- Header Section -->
<%- include('templates/header'); -%>
<!-- Header Section End -->

        <!-- Content Section -->
        <div class="container-fluid bg-light my-4">
            <div class="row bgbg pt-3 row">    
                <div class="col-md-6 pt-3 pb-3 pl-4">
                    <p id="aboutTxt"></p>
                </div>
                <div class="col-md-6 mb-5">
                    <h5 class="black-lines pb-4">Our Team</h5>
                    <div class="row abouts ml-1">
                        <div class="mrg col-5">    
                            <img class="rounded-circle px-1 img-fluid img-responsive"  src="img/contoh project1.png">
                            <div class="caption"><span>Lorem Ipsum</span></div>
                        </div>
                        <div class="mrg col-5">    
                                <img class="rounded-circle px-1 img-fluid img-responsive"  src="img/contoh project1.png">
                                <div class="caption"><span>Lorem Ipsum</span></div>
                            </div>
                        
                    </div>    
                </div>
            </div>
            <div class="text-center">
                <div class="col-md-12 py-5">
                    <h3 class="letterspace">SERVICES</h3>
                </div>
                <div class="col-md-12 pb-5 row servies">
                        <div class="miring mx-2 p-1">Branding</div>
                        <div class="miring mx-2 p-1">Web Developer</div>
                        <div class="miring mx-2 p-1">Layout</div>
                        <div class="miring mx-2 p-1">adveristing</div>
                        <div class="miring mx-2 p-1">paciking</div>
                </div>      
            </div>
        </div>
        <!-- Content End -->

        <!-- Footer Section -->
        <%- include('templates/footer'); -%>
        <!-- Footer End -->
        <script type="text/javascript">
            
                db.ref('/about').once('value', function(snapshot) { // load realtime
                let about = snapshot.val();
                
                
                $("#aboutTxt").text(about);
                
            });
        </script>


    </body>
</html>
