<!doctype html>
<html lang="id">

<!-- Head Section -->
<head>
    <%- include('templates/head'); -%>
  </head>
<!-- Head Section End -->
  
<body>

<!-- Header Section -->
<%- include('templates/header'); -%>
<!-- Header Section End -->

        <!-- Content Section -->
        <div class="container-fluid bg-light my-4">
            <div class="row bgbg pt-3 row">    
                <div class="col-md-6 pt-3 pb-3 pl-4">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. <br /><br /> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                </div>
                <div class="col-md-6 mb-5">
                    <h5 class="black-lines pb-4">Our Team</h5>
                    <div class="container row abouts">
                        <div class="mrg">    
                            <img class="rounded-circle px-2"  src="img/contoh project1.png">
                            <div class="caption"><span>Lorem Ipsum</span></div>
                        </div>
                        <div class="mrg">    
                            <img class="rounded-circle px-2" src="img/contoh project1.png">
                            <div class="caption"><span>Lorem Ipsum</span></div>
                        </div>
                        <div class="mrg">    
                            <img class="rounded-circle px-2" src="img/contoh project1.png">
                            <div class="caption"><span>Lorem Ipsum</span></div>
                        </div>
                    </div>    
                </div>
            </div>
            <div class="text-center">
                <div class="col-md-12 py-5">
                    <h3 class="letterspace">SERVICES</h3>
                </div>
                <div class="col-md-12 pb-5 row servies">
                        <div class="miring mx-2 p-1">Branding</div>
                        <div class="miring mx-2 p-1">Web Developer</div>
                        <div class="miring mx-2 p-1">Layout</div>
                        <div class="miring mx-2 p-1">adveristing</div>
                        <div class="miring mx-2 p-1">paciking</div>
                </div>      
            </div>
        </div>
        <!-- Content End -->

        <!-- Footer Section -->
        <%- include('templates/footer'); -%>
        <!-- Footer End -->

        <%- include('templates/custom_js'); -%>
    </body>
</html>
