<!doctype html>
<html lang="id">

<!-- Head Section -->
  <head>
    <%- include('templates/head'); -%>

  </head>
<!-- Head Section End -->
  
<body>

<!-- Header Section -->
<%- include('templates/header'); -%>
<!-- Header Section End -->
    
    
<!-- Body Section -->
    <div class="container-fluid bg-light my-4">

        <div class="row text-center text-lg-left contents">


            <div class="col-md-4 nopadding grid">
                <figure class="effect-zoe mb-0">
                    <a href="workdetail.html" class="d-block h-100">
                        <img class="img-fluid img-responsive gmbr" src="img/contoh project1.png" alt="">
                        <figcaption>
                        <div class="homepg col-md-12 pb-3 pt-3">
                            <h3 class="" href="#">Qahwa Gayo</h3>
                        </div>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 nopadding grid">
                <figure class="effect-zoe mb-0">
                    <a href="workdetail.html" class="d-block h-100">
                        <img class="img-fluid img-responsive gmbr" src="img/contoh project1.png" alt="">
                        <figcaption>
                        <div class="homepg col-md-12 pb-3 pt-3">
                            <h3 class="" href="#">Qahwa Gayo</h3>
                        </div>
                        </figcaption>
                    </a>
                </figure>
            </div>
            <div class="col-md-4 nopadding grid">
                <figure class="effect-zoe mb-0">
                    <a href="workdetail.html" class="d-block h-100">
                        <img class="img-fluid img-responsive gmbr" src="img/contoh project1.png" alt="">
                        <figcaption>
                        <div class="homepg col-md-12 pb-3 pt-3">
                            <h3 class="" href="#">Qahwa Gayo</h3>
                        </div>
                        </figcaption>
                    </a>
                </figure>
            </div>


                <!-- <div class="col-md-12 nopadding">
                        <div class="">
                            <a href="workdetail.html" class="d-block h-100">
                                <img class="img-fluid img-responsive gmbr" src="img/contoh project1.png" alt="">
                                <div class="homepg col-md-12 pb-3 pt-3">
                                    <h3 class="" href="#">Qahwa Gayo</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12 nopadding">
                        <div class="">
                            <a href="workdetail.html" class="d-block h-100">
                                <img class="img-fluid img-responsive gmbr" src="img/contoh project1.png" alt="">
                                <div class="homepg col-md-12 pb-3 pt-3">
                                    <h3 class="" href="#">Qahwa Gayo</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12 nopadding">
                        <div class="">
                            <a href="workdetail.html" class="d-block h-100">
                                <img class="img-fluid img-responsive gmbr" src="img/contoh project1.png" alt="">
                                <div class="homepg col-md-12 pb-3 pt-3">
                                    <h3 class="" href="#">Qahwa Gayo</h3>
                                </div>
                            </a>
                        </div>
                    </div> -->
                    <a class="text-center viewm col-md-12 mt-4 mb-4" href="work.html">View More</a>
        </div>

    </div>
<!-- Body Section End -->

<!-- Footer Section -->
<%- include('templates/footer'); -%>
<!-- Footer End -->



    
  </body>
</html>
