<!doctype html>
<html lang="id">
   <!-- Head Section -->
  <head>
    <%- include('templates/head'); -%>
  
  </head>
<!-- Head Section End -->
  
<body>

<!-- Header Section -->
<%- include('templates/header'); -%>
<!-- Header Section End -->

         <!-- Content Section -->
         <div class="container-fluid pt-5 pb-5 bg-light my-4">
                <div class="row text-center text-lg-left px-5">
                    <div class="col-lg-4 col-md-4 col-xs-7 nopadding">
                        <div class="hovereffect">
                            <a href="/workdetail" class="d-block h-100">
                                <img class="img-fluid img-responsive" src="img/contoh project1.png" alt="">
                                <div class="overlay">
                                    <p class="info" href="#">Qahwa Gayo</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-7 nopadding">
                        <div class="hovereffect">
                            <a href="/workdetail" class="d-block h-100">
                                <img class="img-fluid img-responsive" src="img/contoh project1.png" alt="">
                                <div class="overlay">
                                    <p class="info" href="#">Qahwa Gayo</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-7 nopadding">
                        <div class="hovereffect">
                            <a href="/workdetail" class="d-block h-100">
                                <img class="img-fluid img-responsive" src="img/contoh project1.png" alt="">
                                <div class="overlay">
                                    <p class="info" href="#">Qahwa Gayo</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-7 nopadding">
                        <div class="hovereffect">
                            <a href="/workdetail" class="d-block h-100">
                                <img class="img-fluid img-responsive" src="img/contoh project1.png" alt="">
                                <div class="overlay">
                                    <p class="info" href="#">Qahwa Gayo</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-7 nopadding">
                        <div class="hovereffect">
                            <a href="/workdetail" class="d-block h-100">
                                <img class="img-fluid img-responsive" src="img/contoh project1.png" alt="">
                                <div class="overlay">
                                    <p class="info" href="#">Qahwa Gayo</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-7 nopadding">
                        <div class="hovereffect">
                            <a href="/workdetail" class="d-block h-100">
                                <img class="img-fluid img-responsive" src="img/contoh project1.png" alt="">
                                <div class="overlay">
                                    <p class="info" href="#">Qahwa Gayo</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
    
            </div>
            <!-- Content End -->

       <!-- Footer Section -->
        <%- include('templates/footer'); -%>
        <!-- Footer End -->

      
    </body>
</html>
