<!doctype html>
<html lang="id">
    <!-- Head Section -->
  <head>
    <%- include('templates/head'); -%>

  </head>
<!-- Head Section End -->
  
<body>

<!-- Header Section -->
<%- include('templates/header'); -%>
<!-- Header Section End -->

         <!-- Content Section -->
         <div class="container-fluid bg-light pb-5 my-4">
                <div class="container">
                    <!-- Project One -->
                    <div class="row pt-5">
                        <div class="col-md-8">
                            <img class="img-fluid rounded mb-3 mb-md-0" src="img/contoh project1.png" alt="" width="100%" height="50%">
                        </div>
                        <div class="col-md-4">
                            <h3 class="reds" style="color:black">Qahwa Gayo</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
                        </div>
                    </div>
    
                   
                </div>
            </div>
            <!-- Content End -->

        <!-- Footer Section -->
        <%- include('templates/footer'); -%>
        <!-- Footer End -->


    </body>
</html>
